version: '3.9'
services:
  apache:
    build: .
    image: mvc-apache-php:8.2           # Custom built image
    container_name: lamp-apache
    ports:
      - "80:80"
    volumes:
      - ./www:/var/www/html
    depends_on:
      - mysql
  
  mysql:
    image: mysql:8.0                    # Pull official image
    container_name: lamp-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin        # Pull official image
    container_name: lamp-phpmyadmin
    depends_on:
      - mysql
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root

volumes:
  mysql_data:
